<!DOCTYPE html> 
<html> 
    <head> 
        <style> 
            nav{background-color: lightblue;padding: 15px;} 
        </style> 
    <title> 
        {% block title %} {% endblock %} 
    </title> 
</head> 
    <body> 
        <nav> 
            <a href="/home/">HOME</a> 
            <a href="/contactus/">CONTACT US</a> 
            <a href="/aboutus/">ABOUT US</a> 
 
        </nav> 
        <section> 
            {% block content %} {% endblock %} 
        </section> 
        <footer> 
            <hr> 
            &copy; Designed and Developed by Dr. Harish Kumar B T, CSE, BIT, Bangalore-04 
        </footer> 
    </body> 
</html>